NOTION_TOKEN=secret_xxx
NOTION_VERSION=2026-03-11
ISSUER_TRACKER_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ISSUER_HISTORY_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ISSUER_NOTES_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY=change-me
